@import "base/typography";


body {
  margin: 0;
}

nav {
  background: lightblue;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  padding-top: 86px;
}


.blog-preview {
  p, h4 {
    margin: 12px 0 0;
  }
}

.blog-section-heading {
  text-decoration: underline;
  text-align: center;
}

.header-image {
  width: 100%;
  height: 300px;
  background-size: cover;
}

.blog-content {
  padding: 0 10%;
  margin: 0 auto;
  max-width: 800px;

  .post-date {
    font-size: 12px;
  }

  .pull-quote {
    font-size: 20px;
    text-align: center;
  }

  .image-block {
    border: 1px solid gray;
    padding: 5px;
    width: 500px;
    margin: 0 auto;
    display: block;
  }

  .tags {
    text-align: right;
  }
}




footer {
  //position: fixed;
  bottom: 0;
  background: lightpink;
  width: 100%;
}
