{% set headerImage = entry.headerImage|length ? entry.headerImage[0] : false %}

{# set type of blog #}
{% if ( entry.type == 'techBlog' ) %}
  {% set type = 'Tech' %}
{% elseif ( entry.type == 'fashionBlog' ) %}
  {% set type = 'Fashion' %}
{% else %}
  {% set type = 'Blog' %}
{% endif %}


{% extends "_layout" %}

{% block content %}
  <h1 class="blog-section-heading">{{ type }} Section</h1>

  <article>

    {# header image #}
    {% if headerImage %}
      <div style="background-image: url({{ headerImage.url }})" class="header-image"></div>
    {% endif %}

    <div class="blog-content">
      {# entry title #}
      <h2>{{ entry.title }}</h2>

      {# posted date #}
      <p class="post-date">Posted on {{ entry.postDate.format('F d, Y') }}</p>

      {# page content #}
      {% for each in entry.pageBlocks %}
        {% include "_partials/" ~ each.type with { options: {
          block: each
        }} %}
      {% endfor%}

      {# tags #}
      <p class="tags">Tags:
        {% for block in entry.tags %}
          <a href="">{{ block }}</a>
        {% endfor%}
      </p>
    </div>

  </article>



{% endblock %}
