{% extends "_layout" %}

{% block content %}

	<h2>Blog Main</h2>

  {% for entry in craft.entries.section('blog').find() %}
    <article class="blog-preview">

      <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>

      <p class="post-date">Posted on {{ entry.postDate.format('F d, Y') }}</p>

      {% set spliceTags =  entry.pageBlocks.type('text').first.text|split('<p>')[1]|split('</p>') %}
      {% set preview =  spliceTags[0] %}
     <p>{{ preview|slice(0,170) }}...</p>

    </article>
	{% endfor %}


{% endblock %}
